*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Mulish', sans-serif;
    color: #404040;
}

/* TYPOGRAPHY */

h1 {
    font-size: 2.5rem;
    font-weight: 400;
    text-shadow: 1px 1px 2px whitesmoke;
}

h2 {
    font-size: 2.25rem;
    text-align: center;
}

p {
    font-size: 1.125rem;
    line-height: 1.5;
}

.inquiry {
    color: white;
    text-shadow: black 1px 0 10px;
}

.inquiry,
.top-text,
.subheading {
    text-transform: uppercase;
    font-weight: 900;
}

.subheading {
    color: #575757;
    font-weight: 900;
    margin-bottom: .5em;
}

.top-text {
    font-size: 1rem;
    padding-top: .25em;
    border-top: 4px solid;
    order: -1;
    margin: 0 auto;
    color: whitesmoke;
    text-shadow: black 1px 0 10px;
}

.fine-print {
    font-size: .75rem;
    color: red;
    padding-bottom: .5em;
}

/* FLEX CONTAINER */

.intro,
.main-content {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-right: 2em;
}

/* INTRO */

.intro {
    justify-content: space-between;
    background: #78AC0F url("/images/tea.jpg");
    background-size: cover;
    background-position: 55%;
    min-height: 500px;
    text-align: center;
    padding-bottom: 1.5em;
}

/* MAIN CONTENT */

.main-content {
    align-items: center;
    padding-top: 2.5em;
}

.main-content p,
form {
    max-width: 450px;
}

/* FORM */

input,
button {
    font-family: inherit;
    width: 100%;
    border-radius: 5px;
}

input {
    border: 2px solid #d1d5db;
    padding: .5em;
    margin-bottom: .75em;
}

input:focus {
    outline: none;
    border-color: #357266;
    background-color: rgb(223, 245, 255);
}

.btn {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5px;
    padding: .5em 0px;
    border: none;
    cursor: pointer;
}

.btn-primary {
    color: whitesmoke;
    background-color: #0E3B43;
    margin-top: 1em;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #357266;
    color: whitesmoke;
}

/* MEDIA QUERIES */

@media (min-width: 576px) {
    body {
        display: flex;
    }

    h1 {
        font-size: 5vw;
    }

    h2 {
        font-size: 2.5rem;
    }

    .inquiry {
        font-size: 1.25rem;
    }

    .intro,
    .main-content {
        width: 50%;
    }

    .intro {
        min-height: 100vh;
    }

    .main-content {
        justify-content: center;
        padding-top: 0;
    }
}